@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
.accordion-mobile {
  padding-left: 0; 
  gap: 0;
}

.accordion-mobile > div {
  background: transparent !important;
  box-shadow: none !important;
  padding-left: 0!important;
}

.accordion-mobile button {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

.accordion-mobile button span {
  font-size: 14px!important;
}